<h1>Sign Up</h1>

<form action="/users/create" method="post">
    <input name="name" type="text" required placeholder="Your Name">
    <input name="email" type="text" required placeholder="Your Email">
    <input name="password" type="password" required placeholder="Password">
    <input name="confirm_password" type="password" required placeholder="Password">
    <input type="submit" value="Sign Up">
</form>