<link rel="stylesheet" href="/css/user_profile.css">
<h1>Profile Page</h1>
<p>
    <%= user.name  %> 
</p>

<form action="/users/clear-session" method="post">
<input type="submit" value="Sign Out">

</form>
